<div class="menu">
<!-- // wall info photos notes friends-->
<ul>
    <!--li><a href="/">what?</a></li-->
    <!--li><a href="/latest">latest</a></li-->
    <!--li><a href="/rasmuserik">rasmuserik</a></li-->
    <!--li><a href="browser_platforms">browsers</a></li-->
    <!--li><a href="javascript">javascript</a></li-->
    <li><a href="/">info</a></li>
    <li><a href="/CurriculumVitae">cv</a></li>
    <!--li><a href="/apps/">apps</a></li-->
    <li><a href="http://github.com/rasmuserik">github</a></li>
</ul>
</div>
