<script type="text/javascript">(function() {
    function load(filename) {
        var elem = document.createElement('script');
        elem.setAttribute('type','text/javascript');
        elem.setAttribute('src', filename);
        document.getElementsByTagName('head')[0].appendChild(elem);
    }
    window.JSON && JSON.parse || load('/lib/json2.js');
    Object.create && Object.keys && Array.prototype.forEach || load('/lib/es5-shim.js');
    load(navigator.userAgent.match(/webkit/i)?'/lib/zepto.js':'/lib/jquery-1.7.1.js');
    load('/lib/require.js');
    load('/lib/modernizr.js');
    function whenReady() {
        if(window.$ && window.Modernizr && window.require) {
            load('/scripts/main.js');
        } else {
            setTimeout(whenReady, 10);
        }
    }
    whenReady();
})()</script>
</body>
</html>
