<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="apple-touch-icon-precomposed" href="/static/icon.png">
        <link rel="icon" type="image/png" href="/static/icon.png">
        <link rel="shortcut icon" href="/static/icon.png">
        <script src="/lib/modernizr.js"></script>
        <script type="text/javascript">(function() {
            function load(filename) {
                document.write('<script src="'+filename+'"></'+'script>');
            }
            Modernizr.json || load('/lib/json2.js');
            Object.create && Object.keys && Array.prototype.forEach || load('/lib/es5-shim.js');
            load(navigator.userAgent.match(/webkit/i)?'/lib/zepto.js':'/lib/jquery-1.7.1.js');
            load('/lib/require.js');
            load('/scripts/main.js');
       })()</script>
    </head>
<body>
