<div class="topbar">
    <a class="right" href="/main.html">solsort.dk</a>
    <a class="left" href="javascript:history.back()">&lt;&lt;</a>
    <span class="pagetitle">{{ page.title }}</span>
</div>
<div class="topbarskip"></div>
<script type="text/javascript">
$(function() {
     function resizeMenuPadding() {$('.topbarskip').css('height', $('.topbar').outerHeight());};
     $('.topbar').css('position', 'fixed');
     $(window).resize(resizeMenuPadding);
     resizeMenuPadding();
     window.scrollTo(1,0);
});
</script>

