<div class="topmenu">
    <span class="sitetitle">solsort.dk</span>
    <span class="menuitems">
        <a href="/notes">notes</a>
        <a href="/CurriculumVitae">cv</a>
        <a href="/info">info</a>
    </span>
    <span class="title">{{ page.title }}</span>
</div>
<div class="menuskip"></div>
<script type="text/javascript">
$(function() {
     function resizeMenuPadding() {$('.menuskip').css('height', $('.topmenu').outerHeight());};
     $(window).resize(resizeMenuPadding);
     resizeMenuPadding();
     window.scrollTo(1,0);
});
</script>
