body { 
    font-size: 14px;
    margin:0; 
    padding:0;
    background: url('/static/background.png');
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4em;
}

@topbar-margin: 2px;
@topbar-button: 8px;
.topbar {
    font-size: 18px;
    width: 100%;

    color: #ffeeee;
    background-color: #425342;
    background: url('/static/menubackground.png');

    border-bottom: solid 1px #b8aaaa;
    box-shadow: 4px 4px 12px rgba(0,0,0,.5);
    -webkit-box-shadow: 4px 4px 12px rgba(0,0,0,.5);

    text-align: center;

    position: absolute;
    top: 0; left: -@topbar-margin; 
    padding: @topbar-margin+10px 0px @topbar-margin @topbar-margin*2;
    margin: 0px 0px 0px 0px;

    a {
        text-decoration: none;
        border: solid 1px #b8aaaa;
        border-radius: 7px;
        color: #ffeeee;
        padding: 9px 8px 11px 8px;
        line-height: 1em;
        margin: -10px @topbar-margin*2 0px 0px
    }

    .left {
        float: left;
        margin-right: 5px;
    }
    .right {
        float: right;
        margin-left: 5px;
    }

}
