body { 
    font-size: 14px;
    margin:0; 
    padding:0;
    background: url('/static/background.png');
    font-family: 'Open Sans', sans-serif;
}

.topbar {
    font-size: 14px;
    width: 100%;

    color: #ffeeee;
    background-color: #425342;
    background: url('/static/menubackground.png');

    border-bottom: 1px ridge;
    box-shadow: 4px 4px 12px rgba(0,0,0,.5);

    position: absolute;
    top: 0; left: -5px; 
    padding: 7px 0px 0px 10px;
    margin: 0px 0px 0px 0px;

    a {
        color: #ffeeee;

        border: solid #b8aaaa;
        float: right;
        border-width: 1px;
        border-radius: 7px;
        padding: 3px 5px 4px 5px;
        margin: -4px 10px 3px 14px;
    }
}
