<html>
<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/style.css" /> 
    <script type="text/javascript">var _gaq=[['_setAccount', 'UA-8354880-3'],['_trackPageview']];</script><script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
</head>
<body>
    <h1 id="pagetop"><!--a href="#pagebottom">&darr;</a--> {{ page.title }}</h1>
    <hr />
    <div id="content">
        {{ content }}
    </div>
    <hr />
    <div id="pagebottom">
        <!--a href="#pagetop">&uarr;</a-->
    {% for post in site.posts %}
        <a href="{{ post.url }}">{{ post.title }}</a>
    {% endfor %}
    </div>
</body>
</html>
